body {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    min-width: 320px;
    margin: 0 auto;
    height: 100vh;
    width: 100vw;
    background: url(../images/bg-desktop.svg) hsl(257, 40%, 49%);
}

main {
    display: flex;
    color: #ffff;
    font-size: 30px;
}

.info{
    display: flex;
    flex-direction: column;
}

.info h1 {
    padding: 30px;
    flex-wrap: wrap;
}

.info p {
    padding-left: 30px;
    font-size: 20px;
}

.btn {
    width: 200px;
    border-radius: 100px;
    height: 58px;
    margin: 22px;
    margin: 30px;
    font-size: 15px;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    transition: 0.3s ease-in-out;
}

.btn a:hover{
    color: var(--neutral-medium);
}

.social {
    display: flex;
    justify-content: end;
    text-align: end;
    font-size: 30px;
    padding: 20px 20px;
}

.social a {
    border-radius: 100%;
    padding: 15px;
}

.footer a{
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 1px;
    transition: 0.3s;
    width: 50px;
    height: 50px;
}

.social a:hover{
    color: var(--neutral-medium);
}

.social a{
    color: #fff;
    margin: 10px 25px;
}
